<div>
  <div class="card-header">{{titulo}}</div>
  <div class="card-body">
    <form>

      <div class="form-group row">
        <label for="" class="col-form-label col-sm-2">Modalidad</label>
        <div class="col-sm-6">
          <app-modalidad [modPrevia]="jornada.modalidad" (modalidad) = "setModalidad($event)"></app-modalidad>
        </div>
      </div>
      <div class="form-group row">
        <label for="" class="col-form-label col-sm-2">Fecha Salida</label>
        <div class="col-sm-6">
          <app-fechasalida [fechaPrevia]="jornada.fechaSalida" (fecha) = "setFecha($event)"></app-fechasalida>
        </div>
      </div>

      <div class="form-group row">
        <label for="" class="col-form-label col-sm-2">Dirección Viento</label>
        <div class="col-sm-6">
          <app-dirviento [dirPrevia] = "jornada.dirViento" (dirvient) = "setDirViento($event)"></app-dirviento>
        </div>
      </div>

      <div class="form-group row">
        <label for="" class="col-form-label col-sm-2">Fuerza Viento</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="jornada.fuerzaViento" name="fuerzaViento">
        </div>
      </div>

      <div class="form-group row">
        <label for="" class="col-form-label col-sm-2">FaseLuna</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="jornada.faseLuna" name="faseLuna">
        </div>
      </div>

      <div class="form-group row">
        <label for="" class="col-form-label col-sm-2">Observaciones</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="jornada.observaciones" name="observaciones">
        </div>
      </div>

      <div class="form-group row">
        <label for="" class="col-form-label col-sm-2">Resultado</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="jornada.resultado" name="resultado">
        </div>
      </div>

      <div class="form-group row">
        <label for="" class="col-form-label col-sm-2">Duración</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="jornada.duracion" name="duracion">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!jornada.id else elseBlock">Crear</button>

          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)='update()'>Editar</button>
          </ng-template>

        </div>
      </div>
    </form>
  </div>
</div>
